.panda-bg-info {
    background-color: #FEEAE9;
    ;
}

.catagories img {
    width: 100px;
}

.panda-btn-buy-now {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FF468B;
}